@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 1rem;
  height: 1rem;
  border: 3px solid lightgrey;
  border-radius: 50%;
  border-top-color: black;
  animation: spinner 0.6s linear infinite;
}